@mixin container_pages(){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

@mixin buttons(){
    padding: 1% 5% 1% 5%;
    border: none;
    border-radius: 15px;
    background-color: #0d6efd;
    color: white;
}